@model FaqBuilder.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game Details";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
}

<h2>@Model.Name</h2>

<div>
    <h4>@Model.ShortName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Platform.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Add Input Mapping" onclick="location.href='@Url.Action("CreateInputMap", "InputMap", new { id = Model.Id })'" />
    </div>
</div>
<div class="row">
    <h2>Input Mapping</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="inputMappingTable">
            <thead>
            <tr>
                <th>Input</th>
                <th>Converted Input</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var inputMap in Model.InputMaps)
            {
                <tr>
                    <td>@inputMap.Input</td>
                    <td>@inputMap.ConvertedInput</td>
                    <td>
                        @*<input class="btn btn-default btn-sm" type="button" value="Details" onclick="location.href='@Url.Action("CharacterDetails", "Character", new { id = character.Id })'" />
                            <input class="btn btn-default btn-sm" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Character", new { id = character.Id })'" />*@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Manage Move Types" onclick="location.href='@Url.Action("MoveTypeIndex", "MoveType", new { id = Model.Id })'" />
    </div>
</div>
<div class="row">
    <h2>Move Types</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="moveTypesTable">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Character Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var moveType in Model.MoveTypes.OrderBy(t => t.Name))
                {
                    <tr>
                        <td>@moveType.Name</td>
                        <td>@moveType.Description</td>
                        <td>
                            @*<input class="btn btn-default btn-sm" type="button" value="Details" onclick="location.href='@Url.Action("CharacterDetails", "Character", new { id = character.Id })'" />
                            <input class="btn btn-default btn-sm" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Character", new { id = character.Id })'" />*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Add Character" onclick="location.href='@Url.Action("Create", "Character", new { gameId = Model.Id })'" />
    </div>
</div>
<div class="row">
    <h2>Characters</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="charactersTable">
            <thead>
            <tr>
                <th>Character Name</th>
                <th>Character Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var character in Model.Characters.OrderBy(t => t.Name))
            {
                <tr>
                    <td>@character.Name</td>
                    <td>@character.Description</td>
                    <td>
                        <input class="btn btn-default btn-sm" type="button" value="Details" onclick="location.href='@Url.Action("CharacterDetails", "Character", new { id = character.Id })'" />
                        <input class="btn btn-default btn-sm" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Character", new { id = character.Id })'" />
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#charactersTable').DataTable();
        });

        $(document).ready(function () {
            $('#moveTypesTable').DataTable();
        });

        $(document).ready(function () {
            $('#inputMappingTable').DataTable();
        } );
    </script>
}