@model FaqBuilder.ViewModels.CharacterViewModel

@{
    ViewBag.Title = Model.Name;
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="btn btn-default" type="button" value="Add Move" onclick="location.href='@Url.Action("CreateMove", "Move", new { id = Model.Id })'" />
    </div>
</div>
<div class="row">
    &nbsp;
</div>

@{
    var moveTypes = Model.Moves.Select(t => t.MoveType).Distinct();

    foreach (var moveType in moveTypes)
    {
        <div class="row">
            <div class="col-md-6">
                <h3>@moveType.Name</h3>
                <table class="table table-striped" id="movesTable">
                    <thead>
                    <tr>
                        <th>Move Name</th>
                        <th>Move Motion</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var move in Model.Moves.Where(t => t.MoveType == moveType))
                    {
                        <tr>
                            <td>
                                @move.Name
                            </td>
                            <td>
                                @move.Motion
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Game", "GameDetails", "Game", new { id = Model.GameId }, null)
</p>